<div class="container">
  <div class="header">
    <p class="label">项目地址：</p>
    <input type="text" readonly='true' class="project-dir" [value]='_projectDir'>
    <button class="normal clear ml" [class.hide]='!_projectDir' [class.disabled]='!_projectDir||_uploading'
      [disabled]='!_projectDir||_uploading' mat-stroked-button (click)='clearAssetList()'>清空</button>
    <button class="normal ml" [disabled]='_uploading' mat-stroked-button (click)='selectProjectDir()'>选择</button>
    <button class="normal ml" [disabled]='_uploading' mat-stroked-button (click)='upload()'>上传</button>
    <button class="normal ml clear"  [class.hide]='!_uploading' mat-stroked-button (click)='cancelUpload()'>取消上传</button>
  </div>
  <div class="content">
    <div class="asset-list">
      <table>
        <thead>
          <tr>
            <th class="no">序号</th>
            <th>包名</th>
            <th class="name">名称</th>
            <th class="type">类型</th>
            <th class="status">状态</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let it of _allAssetDataMap;let idx=index;trackBy:identify">
            <td>{{idx+1}}</td>
            <td class="lj">{{it.package}}</td>
            <td class="lj">{{it.name}}</td>
            <td class="lj">{{it.class}}</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <button (click)='test()'>测试</button> -->
  </div>
  <div class="footer">
    <p class="process">进度：0/149</p>
  </div>
</div>