<div class="container">
  <div class="header">
    <p class="label">项目地址：</p>
    <input type="text" readonly='true' class="project-dir" [value]='_projectDir'>
    <button class="normal ml" mat-stroked-button (click)='selectProjectDir()'>选择</button>
    <button class="normal ml" mat-stroked-button>上传</button>
  </div>
  <div class="content">
    <div class="asset-list">
      <table>
        <thead>
          <tr>
            <th class="no">序号</th>
            <th>Package</th>
            <th class="name">名称</th>
            <th class="type">类型</th>
            <th class="status">状态</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let it of _allAssetDataMap;let idx=index;trackBy:identify">
            <td>{{idx+1}}</td>
            <td>{{it.package}}</td>
            <td>{{it.name}}</td>
            <td>{{it.class}}</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <button (click)='test()'>测试</button> -->
  </div>
</div>