<div class="container">
  <div class="header">
    <p class="label">项目地址：</p>
    <input type="text" readonly='true' class="project-dir" [value]='_projectDir'>
    <button class="normal clear ml" [class.hide]='!_projectDir' [class.disabled]='!_projectDir||_uploading'
      [disabled]='!_projectDir||_uploading' mat-stroked-button (click)='clearAssetList()'>清空</button>
    <button class="normal ml" [disabled]='_uploading' mat-stroked-button (click)='selectProjectDir()'>选择</button>
    <button class="normal ml" [disabled]='_uploading||!_projectDir' mat-stroked-button (click)='upload()'>上传</button>
    <!-- <button class="normal ml clear" mat-stroked-button (click)='test()'>清空缓存</button> -->
  </div>
  <div class="content">
    <div class="asset-list">
      <table>
        <thead>
          <tr>
            <th class="no">序号</th>
            <th>包名</th>
            <th class="name">名称</th>
            <th class="type">类型</th>
            <th class="status">状态</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ky of allAsset|keyvalue;let idx=index;">
            <td>{{idx+1}}</td>
            <td class="lj">{{ky.key}}</td>
            <td class="lj">{{ky.value.name}}</td>
            <td class="lj">{{ky.value.class}}</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="upload-process" *ngIf='_uploading'>
      <mat-spinner></mat-spinner>
      <div class="msg">
        <p [class.active]='_uploadingProcessStep==1'>收集文件信息</p>
        <p [class.active]='_uploadingProcessStep==2'>计算MD5</p>
        <p [class.active]='_uploadingProcessStep==3'>上传文件</p>
        <p [class.active]='_uploadingProcessStep==4'>创建对象</p>
        <p [class.active]='_uploadingProcessStep==5'>创建上传凭据</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <p class="process" *ngIf='_allAssetDataMap&&_allAssetDataMap.length>0'>
      {{'glossary.count'|translate}}：{{_allAssetDataMap?.length}}</p>
  </div>
</div>