div.page {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  div.navs {
    width: 100%;
    height: 50px;
    background-color: orange;
  }
  div.content {
  }
}
