<div class="win">
    <div class="header">
        <div class="flag">
            <p class="title">魔集资源管理器</p>
        </div>
        <div class="windowbars">
            <div class="bar" (click)='browserWinSrv.minimize()'>
                <mat-icon class="bar-icon">remove</mat-icon>
            </div>
            <div class="bar" (click)='toggleWindowMode()'>
                <mat-icon class="bar-icon">
                        fullscreen
                    <!-- {{!_maxWindowState?"fullscreen_exit":"fullscreen"}} -->
                </mat-icon>
            </div>
            <div class="bar close" (click)='browserWinSrv.close()'>
                <mat-icon class="bar-icon">close</mat-icon>
            </div>
        </div>
    </div>
    <div class="browser">
        <router-outlet></router-outlet>
    </div>
</div>